<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My E-commerce Site</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to My E-commerce Site</h1>
</main>
<footer>
    Copyright © 2022 My E-commerce Site
</footer>
</body>
</html>
